[user]
	name = g960059
	email = g960059@gmail.com
[ghq]
	root = {{ .chezmoi.homeDir }}/ghq
[alias]
	co = checkout
	br = branch
	ci = commit
	cm = commit -m
[core]
	editor = nvim
  hooksPath = {{ .chezmoi.homeDir }}/.config/git/hooks
