add_newline = true

# ----------------------------------------------------
# format
# ----------------------------------------------------
format = """
$hostname\
$directory\
$git_branch\
$git_status\
$fill\
$cmd_duration\
\n$character\
"""

[hostname]
ssh_only = true
format = """
[](fg:#f38ba8)\
[VM]($style)\
[](fg:#f38ba8)\
"""
style = "bold fg:#313244 bg:#f38ba8"

# ----------------------------------------------------
# left module (your design preserved)
# ----------------------------------------------------
[fill]
symbol = '─'

[directory]
truncation_length = 6
truncation_symbol = ' '
truncate_to_repo = false
home_symbol = '~'
read_only = ' 󰌾 '
format = """
[](fg:#80EBDF)\
[$path]($style)\
[$read_only]($read_only_style)\
[](fg:#80EBDF)\
"""
style = 'bold fg:#313244 bg:#80EBDF'
read_only_style = 'bold fg:#313244 bg:#80EBDF'

[git_branch]
symbol = ""
style = "fg:#769ff0 bg:#1d2230"
format = """
[](fg:#1d2230)\
[$symbol $branch]($style)\
"""

[git_status]
style = "fg:#769ff0 bg:#1d2230"
format = """
[$all_status$ahead_behind]($style)\
[](fg:#1d2230)\
"""

# ----------------------------------------------------
# right module
# ----------------------------------------------------
[cmd_duration]
min_time = 1
style = 'fg:#e0af68'
format = "[ $duration]($style)"

# ----------------------------------------------------
# prompt module
# ----------------------------------------------------
[character]
vimcmd_symbol = '[V](bold green) '

# ----------------------------------------------------
# Disable modules you don't want (and likely source of ".env")
# ----------------------------------------------------
[python]
disabled = true
[direnv]
disabled = true
[aws]
disabled = true
[time]
disabled = true
[gcloud]
disabled = true

